body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30); 
    margin: 0;
}

.navbar {
    width: 100%;
    border-bottom: 3px solid #004cff; 
    background-color: rgb(20, 20, 20); 
}

.navbar .navbar-brand, 
.navbar .nav-link {
    color: #ffffff !important;
    margin-left: 15px;
    font-size: 22px;
    font-weight: 700;
}

.navbar .nav-link:hover {
    color: #007bff !important; 
}

.modal-content {
    background-color: rgb(40, 40, 45) !important; 
    border: 2px solid #007bff; 
    border-radius: 8px; 
}

.btn-success {
    background-color: #004cff !important;
    border: none !important;
    font-weight: bold;
}

.form-control {
    background-color: rgb(50, 50, 60) !important;
    color: white !important; 
    border: 1px solid #007bff !important; 
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}

.form-control:focus {
    background-color: rgb(60, 60, 75) !important;
    color: white !important;
    border-color: #ff8c00 !important; 
    box-shadow: none !important;
}

.Main_Page {
    width: 100%;          
    text-align: center;     
    padding-top: 50px;      
    display: flex;
    flex-direction: column;
    align-items: center;     
    font-size: 22px;
    font-weight: 700;
}

.intro {
    margin-top: 20px;
    background-color: rgb(20, 20, 20); 
    border: 2px solid #007bff;
    padding: 80px 40px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 50px;
    width: 60%;
    border-radius: 15px;
}

.intro h1 {
    font-size: 67px;
    font-weight: 700;
}

.intro h2 {
    font-size: 50px;
    font-weight: 760;
}

.intro .form-control, 
.intro .btn-success {
    max-width: 300px; 
    margin-left: auto;
    margin-right: auto;
}

.intro .mb-3 {
    width: 100%;
    margin-bottom: 20px;
}

.footer-section {
    width: 100%;
    background-color: rgb(20, 20, 20); 
    border-top: 3px solid #004cff;   
    padding: 40px 0;
    margin-top: 100px;                
    color: white;
}

.footer-section h5 {
    color: #004cff; 
    font-weight: 800;
    margin-bottom: 20px;
}

.blue-divider {
    border-top: 1px solid rgba(0, 76, 255, 0.3);
    margin: 20px auto;
    width: 50%;
}